.scheduleContainer {
    width: 383px;
    height: 404px;
    background: var(--white);
    border-radius: 20px;

    .dividerClass {
        margin-bottom: 22px;
    }

    .scheduleBody {
        margin: 0px 22px 15px 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

       

        .scheduleDay {
            color: var(--secondary-blur2);
            font-size: var(--XXXXSmall);
            font-weight: var(--font-normal);
        }
    }

}